@import '../_variables';
@import '../_mixins';

.header {
  @include main-margin;
  // @include main-padding;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    width: 100%;
    position: relative;

    // @media (max-width: $breakpoint-mobile-width) {
    //   width: 100%;
    // }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 48%;
    width: 80%;
    transform: translateX(-50%);

    canvas {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__logo {
    width: 150px;
    display: block;
    margin: 0 auto 60px;
  }
}
