@font-face {
  font-family: 'Univers LT W05_55 Roman';
  src: url('https://ccc-frontend.github.io/fonts/fonts/7b452431-e4a6-48a8-8ba1-c6300f9384df.woff2')
    format('woff2');
  font-display: swap;
}
